.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.content {
  padding: 20px;
  overflow-x: auto;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 4px solid #3f51b5;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-start {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .content {
    padding: 10px;
  }
}
