.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.dashboard-card {
    width: 300px;
    max-width: 100%;
    
}

@media (max-width: 600px) {
    .cards-grid {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-card {
        width: 100%;
    }
}