section {
  display: flex;
  align-items: center;
  
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.titulo-centrado {
  display:flex;
  align-items: center;

  justify-content: center;
 font-size: 1.6rem;
  font-weight: 500;
  justify-content: center;
  
}

.menu-container-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 16px; 
  margin-top:8%;

           
}


.menu-card {
  background-color: bisque;
  width: 100%; 
  max-width: 400px; 

  
  border-radius: 12px; 
  
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out;
}


.menu-item {
  cursor: pointer;
  padding: 16px 0; 
}




.card-title {
  text-align: center; 
  margin-bottom: 8px;
  font-size: 2rem;
  cursor: default;
  transition: text-shadow 0.4s ease;

}


mat-list-item {
  
  height: auto !important;
  padding: 1rem !important;
  font-size: 1.8rem;
  
  
}
.self-management-item {
  cursor:pointer;
  font-size: 1.6rem;
  transition: color 0.3s ease;
 
}

.self-management-item:hover {
  color: #5a5252; 
}