.login-container-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 16px; 
  margin-top:8%;

           
}

.login-header {
     display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 16px; 
  margin-top:8%;

  color: white; 
}

.login-title {
   font-size: 24px; 
  font-weight: roboto; 
  color: #000;
}



.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
   display: flex;
  justify-content: center; 
  align-items: center;     
 
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.elevated {
  margin-top: 16px;
    display: flex;
  justify-content: center; 
  align-items: center;     
}

.card-action {
   display: flex;
  justify-content: center; 
  align-items: center;     
}

