.container {
    padding: 20px;
    overflow-x: auto;
    
}

table {
    width: 100%;
    margin-top: 20px;
    min-width: 600px;
    
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}